@charset "utf-8";
/* CSS Document */

body {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

a, a:visited {
    color: #000066;
}

a:hover,
a:focus {
    color: #f406a5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
    margin: 0;
    font-family: "Permanent Marker", cursive;
    padding-bottom: 10px;
    color: #000066;
}

h1, .h1 {
    color: #f406a5;
    font-size: 36pt;
}

p {
    margin-bottom: 15px;
}

.page-header {
    padding: 0px;
    border-bottom: none;
    background-color: #41e3c8;
}

.container, .row, .container-fluid {
    margin-top: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #FFFFFF;
}

.marker {
    font-family: "Permanent Marker", cursive;
}

.logo-header {
    background-color: #41e3c8;
}

#sociallinks a {
    color: #000000;
}

#sociallinks a:visited {
    color: #000000;
}

#sociallinks a:hover {
    color: #f406a5;
}

#sociallinks a:focus {
    color: #f406a5;
}

#user-block {
    padding: 30px;
}

footer {
    background-color: #41e3c8;
    padding-bottom: 15px;
    margin: 0px;
    color: #000066;
}

footer .row {
    margin: 20px 0px;
}

h4, .h4 {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

footer .fa-inverse {
    color: #41e3c8;
}

#mantra {
    background-color: #FFFFFF;
    color: #000000;
}

.logo-header img {
    margin: auto;
    clear: both;
}

.countdown-clock h1 {
    font-size: 100px;
    font-weight: 500;
}

.countdown-clock div.col-sm-6 {
    background-color: #f406a5;
    color: #fff;
    border: solid #fff 5px;
}

.countdown-clock div {
    padding: 0px;
    margin: 0px;
    border: none;
    text-align: center;
}

.coming-soon .fa {
    color: #000066;
}

.coming-soon .fa-inverse {
    color: #41e3c8;
}

.coming-soon div {
    padding: 5px 0px;
    margin: 0px;
    border: none;
}

.box-border {
    border: 3px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 10px;
    min-height: 350px;
    flex: 1;
}

/* Signup Form */

.btn, .btn:visited, .btn.visited {
    background-color: #000066;
    color: #FFFFFF;
    font-family: "Permanent Marker", cursive;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #f406a5;
    color: #FFFFFF;
}

.input-prepend .add-on, .input-append .add-on, .input-prepend .btn, .input-append .btn {
    margin-left: -4px;
}

div.page-quote {
    margin: 20px 0px;
}

.signup {
    margin-top: 35px;
}

#tshirt {
    padding: auto;
}

@media (min-width: 768px) {
    .call-to-action {
        display: flex;
    }
}

.nav-pills li a:hover,
.nav-pills li a:focus,
.nav-pills li a:active,
.nav-pills li a.active {
    color: #fff;
    background-color: #000066;
    border-color: #000066;
    outline-color: #000066;
    border-radius: 20px;
}

.nav-pills {
    font-family: "Permanent Marker", cursive;
}

.badge {
    background: #f406a5;
}

ul.main-nav {
    display: inline-block;
    align-content: center;
    padding-bottom: 20px;
}

.main-nav a {
    color: #000;
    font-family: "Permanent Marker", cursive;
    font-size: x-large;
}

.main-nav li a.search-btn {
    color: #ffffff;
    background-color: #000066;
    border-color: #000066;
    outline-color: #000066;
    border-radius: 30px;
    margin-right: 30px;
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li a:active,
.main-nav li a.active {
    color: #fff;
    background-color: #f406a5;
    border-color: #f406a5;
    outline-color: #f406a5;
    border-radius: 30px;
}

.card {
    background-color: #41e3c8;
    padding: 10px;
    margin: 10px;
}

.ad {
    padding: 10px;
    margin: 10px;
}

img.card {
    padding: 10px;
    margin: 0px;
    background: none;
}

#profile-social-links a {
    color: #000000;
}

#profile-social-links a:visited {
    color: #000000;
}

#profile-social-links a:hover {
    color: #f406a5;
}

#profile-social-links a:focus {
    color: #f406a5;
}

.btn-lg:hover, .btn-lg:active, .btn-lg.active, .btn-lg.disabled, .btn-lg[disabled] {
    background-color: #000066;
    color: #FFFFFF;
}

.btn-lg, .btn-lg:visited, .btn-lg.visited {
    background-color: #f406a5;
    color: #FFFFFF;
}

.profile {
    padding-bottom: 25px;
}

.profile img {
    padding-bottom: 5px;
}

.profile h3 {
    text-align: center;
}

.send-some-love {
    background-image: url("/img/lips_button_pink.png");
    width: 350px;
    height: 150px;
    display: block;
}

.send-some-love:hover {
    background-image: url("/img/lips_button_blue.png");
}